#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input {
  padding: 5px;
  font-size: 16px;
}

.transaction-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.IncomeBtn {
  background-color: #155724;
  color: #fdfcfc;
  padding: 5px 10px;
  font-size: 16px;
}

.ExpenseBtn {
  background-color: #721c24;
  color: #fdfcfc;
  padding: 5px 10px;
  font-size: 16px;
}

.ul {
  padding: 0;
  margin: 0;
}

.li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 800px;
  padding: 10px 60px 10px 10px; /* больше места справа */
  margin: 0 auto;
  box-sizing: border-box;
}

.incomeStyle {
  background-color: #d4edda;
  color: #155724;
  border-radius: 6px;
  margin-bottom: 5px;
}

.expenseStyle {
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 6px;
  margin-bottom: 5px;
}

.btnRemove {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: none;
  color: #161516;
  cursor: pointer;

  outline: none;
  transition: color 0.2s ease, transform 0.2s ease;
}

.btnRemove:hover,
.btnRemove:focus {
  color: #050505;

  transform: translateY(-50%) scale(1);

  outline: none;
  box-shadow: 0 0 0 2px #6e6c6c;
}

.balance {
  width: 800px;
  height: 40px;
  font-size: 25px;
  color: #fdfcfc;
  background-color: rgba(143, 140, 143, 0.867);
}
